
body,ul,li,p{
    
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(226, 214, 214);
}

body{ margin-bottom: 100px ;}

a{
    text-decoration: nome;
    color: white;
}

.header{
    background-color: rgb(39, 38, 38);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background:rgb(3, 3, 3) ;
}