body {
    font-family: sans-serif;
}

.container {
    background-color: #e0ffe0; 
    padding: 20px;
    width: 300px;
    border: 1px solid #ccc;
}

h2 {
    color: #ff00ff; 
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100px; 
}